* {
    margin: 0px;
}

.info {
    background-color: rgb(229, 243, 214);
    padding: 10px;
    color: rgba(107,153,48,1.00);
    
}

.info > * {
    margin: auto ;
}

.header-txt {
    text-decoration: none;
    color: rgba(107,153,48,1.00);
    font-size: small;
}

.form-control {
    width: 440px;
}

.content {
    height: 100vh;
    background-color: aquamarine;
}

.bread {
    margin-left: 30px;
    margin-top: 0px;
}
.fa-house {
    color: gray;
}

.dropdown-menu {
    transform: translate(0px, 5px)!important;
}

.btn-recommend {
    border-radius: 100px;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
}

.product-screen {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.product-screen > * {
    border: 1px;
    height: 300px;
    background-color: green;
}